In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('data/learningSet.csv')
data.head(3)

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C

In [3]:
data.shape

(95412, 481)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Columns: 481 entries, ODATEDW to GEOCODE2
dtypes: float64(97), int64(310), object(74)
memory usage: 350.1+ MB

In [5]:
#categorical=data.select_dtypes(include=['object'])
#categorical.isna().sum()

In [6]:
data.isna().sum()

ODATEDW       0
OSOURCE       0
TCODE         0
STATE         0
ZIP           0
           ...
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
CLUSTER2    132
GEOCODE2    132
Length: 481, dtype: int64

In [7]:
nulls_percent_df=pd.DataFrame(data.isna().sum()/len(data)).reset_index()
nulls_percent_df.columns=['column_name', 'nulls_percentage']
nulls_percent_df

    column_name  nulls_percentage
0       ODATEDW          0.000000
1       OSOURCE          0.000000
2         TCODE          0.000000
3         STATE          0.000000
4           ZIP          0.000000
..          ...               ...
476    MDMAUD_R          0.000000
477    MDMAUD_F          0.000000
478    MDMAUD_A          0.000000
479    CLUSTER2          0.001383
480    GEOCODE2          0.001383

[481 rows x 2 columns]

In [8]:
columns_above_threshold=nulls_percent_df[nulls_percent_df['nulls_percentage']>0.85]
print(len(columns_above_threshold['column_name']))

25

In [9]:
columns_above_threshold_list=list(columns_above_threshold['column_name'])
print(columns_above_threshold_list)

['NUMCHLD', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7', 'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21', 'RDATE_23', 'RAMNT_3', 'RAMNT_4', 'RAMNT_5', 'RAMNT_6', 'RAMNT_7', 'RAMNT_10', 'RAMNT_13', 'RAMNT_15', 'RAMNT_17', 'RAMNT_20', 'RAMNT_21', 'RAMNT_23']

In [10]:
drop_list=[]

In [11]:
drop_list.append('OSOURCE')
drop_list.append('ZIP') 
#drop_list=['OSOURCE', 'ZIP']

In [12]:
drop_list

['OSOURCE', 'ZIP']

In [13]:
drop_list=drop_list+columns_above_threshold_list
print(drop_list)

['OSOURCE', 'ZIP', 'NUMCHLD', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7', 'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21', 'RDATE_23', 'RAMNT_3', 'RAMNT_4', 'RAMNT_5', 'RAMNT_6', 'RAMNT_7', 'RAMNT_10', 'RAMNT_13', 'RAMNT_15', 'RAMNT_17', 'RAMNT_20', 'RAMNT_21', 'RAMNT_23']

Por ahora no vamos a eliminar esas columnas del DataFrame, pero el código sería:

In [14]:
#data.drop(columns=drop_list, inplace=True)
#data.shape

In [15]:
data.GENDER.value_counts()

GENDER
F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: count, dtype: int64

In [16]:
data.GENDER.isna().sum()

0

In [17]:
print(data['GENDER'].value_counts())
data['GENDER']=data['GENDER'].fillna('F')
#Este código no modifica el DataFrame porque no hay nulos en data.GENDER. Lo que hay son strings vacíos.

GENDER
F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: count, dtype: int64

In [18]:
data['GENDER']=data['GENDER'].replace("C", "other").replace(" ", "F").replace("U", "other").replace("J", "other").replace("A", "other")

In [19]:
data.GENDER.value_counts()

GENDER
F        54234
M        39094
other     2084
Name: count, dtype: int64

In [20]:
#Un código más simple, utilizando una función sería:

#data['GENDER']=data['GENDER'].apply(lambda x: x.replace(" ", "F"))

def clean_gender(x):
    if x not in ['F', 'M']:
        return 'other'
    else:
        return x
#data['GENDER']=list(map(clean_gender, data['GENDER']))