###### Andrés Genta
## Challenge 2: Sets                                  


There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [102]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [103]:
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[62, 74, 96, 77, 92, 31, 82, 27, 5, 56, 85, 16, 81, 63, 7, 34, 61, 25, 67, 73, 40, 78, 12, 51, 0, 91, 33, 15, 39, 52, 50, 45, 14, 95, 58, 72, 44, 19, 18, 79, 53, 59, 36, 6, 13, 84, 88, 86, 38, 99, 66, 93, 80, 98, 55, 17, 94, 20, 35, 97, 22, 48, 69, 83, 43, 29, 32, 1, 41, 23, 10, 4, 76, 28, 68, 8, 26, 37, 30, 65]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [104]:
# Gets the count of the unique values 
set1=set(sample_list_1)
len(set1) 
#Sigue siendo 80 lo cual es coherente porque tanto los valores de las listas random como los de los sets son únicos.

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [105]:
sample_list_2 = [random.randint(0, 100) for i in range(80)]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [106]:
set2=set(sample_list_2)
len(set2)  #Da menor a 80 porq sample_list_2 tiene números repetidos.

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [107]:
set3=set1.difference(set2)
print(set3)
len(set3)

{0, 1, 6, 15, 20, 23, 25, 26, 29, 32, 33, 34, 40, 44, 48, 51, 55, 59, 61, 63, 65, 66, 67, 72, 77, 82, 83, 85, 86, 88, 91, 92, 93, 95, 98, 99}

36

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [108]:
set4=set2.difference(set1)

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [109]:
set5=set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [110]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

if len(set1) + len(set2) == len(set3) + len(set4) + 2*len(set5):
    print("La relación es coherente")
else:
    print("La relación no es coherente")

#La idea es que la suma de la cantidad de elementos de los conjuntos 1 y 2 es igual a la suma de las diferencias más el doble de la intersección. BONUS: También se puede observar que si calculamos la unión de los conjuntos 1 y 2, nos da el mismo valor que da más abajo usando la función .union()  (80+52-44=88)

80
52
36
8
44
The relationship holds true.

#### Create an empty set called `set6`.

In [111]:
set6=set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [112]:
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 48, 50, 51, 52, 53, 55, 56, 58, 59, 61, 62, 63, 65, 66, 67, 68, 69, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [113]:
print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [114]:
set2_en_set1=set2.issubset(set1)
set3_en_set1=set3.issubset(set1)
print(set2_en_set1)
set3_en_set1

False

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [115]:
union345=set3.union(set4,set5)
union12=set1.union(set2)
len(union12)

88

#### Using the `pop` method, remove the first element from `set1`.

In [116]:
elem = set1.pop() #Aunque según lo que entiendo, con pop() no se elimina el primero necesariamente.

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [117]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
restantes=[]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
    else:
        restantes.append(i)
print(restantes)

[9, 11, 21, 49, 71, 89]