# Advanced Querying Mongo

Importing libraries and setting up connection with "companies" collection. As in class, call it `c`

In [30]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")

In [31]:
db=client["Ironhack"]

In [32]:
db
db.list_collection_names()

['shoes', 'Restaurants', 'Companies']

In [33]:
c=db.get_collection("Companies")

In [34]:
type(c.find_one())

dict

#### En la app MongoDB Compass, encontré términos como founded_year, founded_month, ipo.valuation_amount, etc).

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [35]:
Babel=list(c.find({"name":"Babelgum"},{"_id":0,"name":1,}))
print(Babel)

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [36]:
filterr={"number_of_employees":{"$gte":5000}}
projection={ "_id":0,"name":1}
empresas=list(c.find(filterr,projection).sort("number_of_employees", -1).limit(20))
print(empresas)

[{'name': 'Siemens'}, {'name': 'IBM'}, {'name': 'Toyota'}, {'name': 'PayPal'}, {'name': 'Nippon Telegraph and Telephone Corporation'}, {'name': 'Samsung Electronics'}, {'name': 'Accenture'}, {'name': 'Tata Consultancy Services'}, {'name': 'Flextronics International'}, {'name': 'Safeway'}, {'name': 'Sony'}, {'name': 'LG'}, {'name': 'Ford'}, {'name': 'Boeing'}, {'name': 'Digital Equipment Corporation'}, {'name': 'Nokia'}, {'name': 'MItsubishi Electric'}, {'name': 'MItsubishi Electric'}, {'name': 'Comcast'}, {'name': 'Bertelsmann'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [37]:
filterr={"founded_year": {"$gte": 2000, "$lte": 2005}}
projection={"_id": 0, "name": 1, "founded_year": 1}
compss=list(c.find(filterr, projection).limit(5))
print(compss)

[{'name': 'Wetpaint', 'founded_year': 2005}, {'name': 'Zoho', 'founded_year': 2005}, {'name': 'Digg', 'founded_year': 2004}, {'name': 'Facebook', 'founded_year': 2004}, {'name': 'Omnidrive', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [38]:
filterr={"ipo.valuation_amount": {"$gt": 100000000}, "founded_year": {"$lt": 2010}}
projection={"_id": 0, "name": 1, "ipo": 1}
compa=list(c.find(filterr, projection))
print(compa[:5])

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000, 'valuation_currency_code': 'USD', 'pub_year': 2012, 'pub_month': 5, 'pub_day': 18, 'stock_symbol': 'NASDAQ:FB'}}, {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000, 'valuation_currency_code': 'USD', 'pub_year': 2013, 'pub_month': 11, 'pub_day': 7, 'stock_symbol': 'NYSE:TWTR'}}, {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000, 'valuation_currency_code': 'USD', 'pub_year': 2012, 'pub_month': 3, 'pub_day': 2, 'stock_symbol': 'NYSE:YELP'}}, {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000, 'valuation_currency_code': 'USD', 'pub_year': 2011, 'pub_month': 7, 'pub_day': 20, 'stock_symbol': 'NYSE:LNKD'}}, {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000, 'valuation_currency_code': 'USD', 'pub_year': 1997, 'pub_month': 5, 'pub_day': None, 'stock_symbol': 'NASDAQ:AMZN'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [39]:
cond1={"number_of_employees":{"$lt":1000}}
cond2={"founded_year":{"$lte":2000}}
projection = {"name": 1, "number_of_employees": 1, "_id": 0}
companies = list(c.find({"$and":[cond1, cond2]}, projection).sort("number_of_employees", -1).limit(10))
print(companies)

[{'name': 'Infinera Corporation', 'number_of_employees': 974}, {'name': 'NorthPoint Communications Group', 'number_of_employees': 948}, {'name': '888 Holdings', 'number_of_employees': 931}, {'name': 'Forrester Research', 'number_of_employees': 903}, {'name': 'SonicWALL', 'number_of_employees': 900}, {'name': 'Webmetrics', 'number_of_employees': 900}, {'name': 'Cornerstone OnDemand', 'number_of_employees': 881}, {'name': 'ZoomInfo', 'number_of_employees': 800}, {'name': 'Cvent', 'number_of_employees': 800}, {'name': 'Buongiorno', 'number_of_employees': 800}]

### 6. All the companies that don't include the `partners` field.

In [40]:
filterr={"partners":{"$exists":False}}
projection={"_id":0,"name":1}
empresas_sin=list(c.find(filterr,projection))
empresas_sin

[{}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [41]:
filterr={"category_code":None}
projection={"_id":0,"name":1,"category_code":1}
nulas=list(c.find(filterr,projection))
print(nulas[:5])

[{'name': 'Collective', 'category_code': None}, {'name': 'Snimmer', 'category_code': None}, {'name': 'KoolIM', 'category_code': None}, {'name': 'Level9 Media', 'category_code': None}, {'name': 'VidKing', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [42]:
cond1={"number_of_employees":{"$gte":100}}
cond2={"number_of_employees":{"$lte":1000}}
projection={"_id":0, "name":1, "number_of_employees":1}

compas=list(c.find({"$and":[cond1, cond2]}, projection))
print(compas[:5])

[{'name': 'AdventNet', 'number_of_employees': 600}, {'name': 'AddThis', 'number_of_employees': 120}, {'name': 'OpenX', 'number_of_employees': 305}, {'name': 'LifeLock', 'number_of_employees': 644}, {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [43]:
projection={"_id":0,"name":1,"ipo.valuation_amount":1}
ipos=list(c.find({},projection).sort("ipo.valuation_amount",-1))
print(ipos[:5])

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}}, {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}}, {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}}, {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}}, {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [44]:
list(c.find({},{"_id":0, "name":1, "number_of_employees":1}).sort("number_of_employees",-1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [45]:
list(c.find({"founded_month":{"$gt":6}},{"_id":0, "name":1, "founded_month":1}).limit(6))
#No puse limit 1000 porque se complica para visualizar el notebook (sería cambiar el 6 por 1000).

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [46]:
cond1={"founded_year":{"$lt":2000}}
cond2={"acquisition.price_amount":{"$gt":10000000}}
list(c.find({"$and":[cond1, cond2]},{"_id":0, "name":1, "founded_year":1, "acquisition.price_amount":1}).limit(3))

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [47]:
filterr = {
    "acquisition.acquired_year": {"$gt": 2010}
}
projection = {"_id": 0,"name": 1, "acquisition": 1}
companies = list(c.find(filterr, projection).sort("acquisition.price_amount", -1))
print(companies[:2])

[{'name': 'T-Mobile', 'acquisition': {'price_amount': 39000000000, 'price_currency_code': 'USD', 'term_code': None, 'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/', 'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion', 'acquired_year': 2011, 'acquired_month': 3, 'acquired_day': 20, 'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}}, {'name': 'Goodrich Corporation', 'acquisition': {'price_amount': 18400000000, 'price_currency_code': 'USD', 'term_code': None, 'source_url': 'http://www.masshightech.com/stories/2011/09/19/daily37-UTC-shells-out-184-billion-for-Goodrich.html', 'source_description': 'UTC shells out $18.4 billion for Goodrich', 'acquired_year': 2011, 'acquired_month': 9, 'acquired_day': 22, 'acquiring_company': {'name': 'United Technologies', 'permalink': 'united-technologies'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [48]:
list(c.find({}, {"_id": 0, "name": 1, "founded_year": 1}).sort("founded_year", -1).limit(6))

[{'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [49]:
list(c.find({"founded_day":{"$lte":7}},{"_id":0, "name":1, "founded_day":1}).sort("acquisition.price_amount",-1).limit(5))

[{'name': 'Netscape', 'founded_day': 4},
 {'name': 'PayPal', 'founded_day': 1},
 {'name': 'Zappos', 'founded_day': 1},
 {'name': 'Alibaba', 'founded_day': 1},
 {'name': 'Postini', 'founded_day': 2}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [50]:
filterr={"category_code":"web","number_of_employees":{"$gt":4000}}
projection={"_id":0,"name":1,"number_of_employees":1}
web_=list(c.find(filterr,projection).sort("number_of_employees",1).limit(3))
web_

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [51]:
cond1={"acquisition.price_currency_code":"EUR"}
cond2={"acquisition.price_amount":{"$gt":10000000}}
projection={"_id":0, "name":1}

eurr=list(c.find({"$and":[cond1, cond2]}, projection).limit(2))
print(eurr)

[{'name': 'ZYB'}, {'name': 'Apertio'}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [52]:
filterr={"acquisition.acquired_month":{"$lte":3}}
projection={"_id":0,"name":1,"acquisition":1}
tri_=list(c.find(filterr,projection).limit(2))
tri_
#Puse limit 2 en lugar de 10, para no ocupar tanto espacio.

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [53]:
filterr={"founded_year":{"$gte":2000,"$lte":2010},"acquisition.acquired_year":{"$gte":2011}}
projection={"_id":0,"name":1,"founded_year":1,"acquisition":1}

LosDosMil=list(c.find(filterr,projection).limit(2))
LosDosMil

[{'name': 'Wetpaint',
  'founded_year': 2005,
  'acquisition': {'price_amount': 30000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
   'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}}},
 {'name': 'Digg',
  'founded_year': 2004,
  'acquisition': {'price_amount': 500000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/07/12/betaworks-acquires-digg/',
   'source_description': 'Betaworks Acquires Digg (TechCrunch)',
   'acquired_year': 2012,
   'acquired_month': 7,
   'acquired_day': 12,
   'acquiring_company': {'name': 'betaworks', 'permalink': 'betaworks'}}}]

### BONUSASSO 20. All the companies that have been 'deadpooled' after the third year. 
Tip: You should use a new operator. Try to search WHERE the solution is.

In [54]:
fin=list(c.find({"$where": "this.deadpooled_year - this.founded_year > 3"},         #Encontré en Stack Overflow algo así.
            {"_id": 0, "name":1, "deadpooled_year":1, "founded_year":1}).limit(5))
fin

[{'name': 'Babelgum', 'founded_year': 2007, 'deadpooled_year': 2013},
 {'name': 'Thoof', 'founded_year': 2006, 'deadpooled_year': 2013},
 {'name': 'Mercora', 'founded_year': None, 'deadpooled_year': 2008},
 {'name': 'Wesabe', 'founded_year': 2005, 'deadpooled_year': 2010},
 {'name': 'Stickam', 'founded_year': 2006, 'deadpooled_year': 2013}]