###### Andrés Genta
# PANDAS LAB - Continuation of the EuroLeague Case Study
## Let's compare the competitions!

![](https://eurospects.com/wp-content/uploads/2018/10/eurocupeuroleague.png)

First of all, we must 

- Import the actual.csv Dataset. This dataset will be the CSV of the result obtained in class.
- Import ec23.xlsx. This dataset correspond to the import the dataset corresponding to Eurocup. Don't worry, this time the Excel will be cleaned (almost)

<details>
    <summary> Lab results </summary>

![](https://media1.tenor.com/m/lx2WSGRk8bcAAAAC/pulp-fiction-john-travolta.gif)

PERO QUÉ OS HABÉIS CREÍDO

</details>

In [38]:
#pip install openpyxl
# In case there is an error with this .xlsx document opening, install this library

In [6]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\agent\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\agent\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [7]:
import pandas as pd
import numpy as np
import os

In [8]:
#A veces se me complica con los paths y tengo que hacer estas cosas
desktop_path=os.path.join(os.path.expanduser("~"), "Desktop")
elteams=pd.read_csv(os.path.join(desktop_path, "datasets", "actual.csv"))
ecteams=pd.read_excel(os.path.join(desktop_path, "datasets", "ec2023.xlsx"), index_col=False)
ecteams

,Unnamed: 0,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
0,0,2024-01-31T21:00:00,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,113.0,-2.0
1,1,2024-01-31T20:00:00,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,97.0,-19.0
2,2,2024-01-31T19:30:00,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,86.0,-20.0
3,3,2024-01-31T18:30:00,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,92.0,-7.0
4,4,2024-01-31T18:00:00,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,68.0,-4.0
...,...,...,...,...,...,...,...,...,...,...
168,165,2023-10-04T18:00:00,1,U-BT Cluj-Napoca,Turk Telekom Ankara,80,71.0,Local,80.0,9.0
169,166,2023-10-04T18:00:00,1,Prometey Slobozhanske,Veolia Towers Hamburg,97,77.0,Local,97.0,20.0
170,167,2023-10-03T20:30:00,1,Paris Basketball,Wolves Vilnius,105,78.0,Local,105.0,27.0
171,168,2023-10-03T19:30:00,1,ratiopharm Ulm,Dolomiti Energia Trento,80,70.0,Local,80.0,10.0
172,169,2023-10-03T19:00:00,1,Hapoel Shlomo Tel Aviv,Cedevita Olimpija Ljubljana,100,73.0,Local,100.0,27.0

Let's analyze the EuroCup Dataframe! Is there any cleaning needed? Remember the basics: 
- Drop Null Values
- Drop Duplicate Rows
- Drop Strange Columns if you see any

### **EUROCUP**

### Drop null values

In [9]:
ecteams.isna().sum()

Unnamed: 0    0
fecha         0
ronda         0
local         0
visitante     0
localscore    0
roadscore     1
Winner        0
Ganador       1
plusminus     1
dtype: int64

Se puede observar que hay 3 valores nulos. Veamos en qué fila/s están para ver cómo tratarlos:

In [10]:
print(ecteams.loc[ecteams.isnull().any(axis=1), ecteams.isnull().any()])

     roadscore  Ganador  plusminus
142        NaN      NaN        NaN

In [11]:
ecteams.iloc[142:143]

,Unnamed: 0,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
142,139,2023-10-24T19:30:00,4,Veolia Towers Hamburg,Hapoel Shlomo Tel Aviv,72,NaN,Visitante,NaN,NaN

Busqué en internet y el resultado del partido fue 72-111. Se podría ver de cambiar los valores de NaN pero voy a borrar la fila ya que la letra del Lab lo pide.

In [12]:
ecteams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  173 non-null    int64
 1   fecha       173 non-null    object
 2   ronda       173 non-null    int64
 3   local       173 non-null    object
 4   visitante   173 non-null    object
 5   localscore  173 non-null    int64
 6   roadscore   172 non-null    float64
 7   Winner      173 non-null    object
 8   Ganador     172 non-null    float64
 9   plusminus   172 non-null    float64
dtypes: float64(3), int64(3), object(4)
memory usage: 13.6+ KB

In [13]:
ecteams.dropna(inplace=True) #Eliminé la fila 142

In [14]:
ecteams.iloc[141:143]

,Unnamed: 0,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
141,139,2023-10-24T19:30:00,4,Veolia Towers Hamburg,Hapoel Shlomo Tel Aviv,72,111.0,Visitante,111.0,-39.0
143,140,2023-10-24T18:00:00,4,Wolves Vilnius,Besiktas Emlakjet Istanbul,90,88.0,Local,90.0,2.0

In [15]:
ecteams.info() #Ahora quedó bien

<class 'pandas.core.frame.DataFrame'>
Index: 172 entries, 0 to 172
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  172 non-null    int64
 1   fecha       172 non-null    object
 2   ronda       172 non-null    int64
 3   local       172 non-null    object
 4   visitante   172 non-null    object
 5   localscore  172 non-null    int64
 6   roadscore   172 non-null    float64
 7   Winner      172 non-null    object
 8   Ganador     172 non-null    float64
 9   plusminus   172 non-null    float64
dtypes: float64(3), int64(3), object(4)
memory usage: 14.8+ KB

### Drop duplicate rows

In [16]:
duplicadas=ecteams.duplicated()
datos_duplicados = ecteams[duplicadas]
datos_duplicados

,Unnamed: 0,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
80,79,2023-12-05T19:30:00,10,Veolia Towers Hamburg,Prometey Slobozhanske,83,97.0,Visitante,97.0,-14.0
99,97,2023-11-21T19:30:00,8,Mincidelice JL Bourg en Bresse,Turk Telekom Ankara,86,67.0,Local,86.0,19.0

In [17]:
ecteams.drop_duplicates(inplace=True)

### Drop strange columns if you see any

Voy a borrar la columna Unnamed: 0, ya que no aporta información:

In [18]:
if "Unnamed: 0" in ecteams.columns:
    ecteams.drop("Unnamed: 0", axis=1, inplace=True)
ecteams.sample() #Para comprobar que ya no está la columna

,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
70,2023-12-12T18:00:00,11,Wolves Vilnius,Hapoel Shlomo Tel Aviv,81,89.0,Visitante,89.0,-8.0

### Let's now compare it with the EL dataset that we have: You might select a sample of both of them and see what are the inconsistencies!

In [19]:
ecteams.sample()

,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
131,2023-10-31T20:00:00,5,Dolomiti Energia Trento,Turk Telekom Ankara,101,96.0,Local,101.0,5.0

In [20]:
elteams.sample()

,Competition,Phase,Ronda,Dia,Hora,Local,Visitante,Localscore,Roadscore,Arbitros,Plusminus,Winner,Ganador
52,Euroleague,Regular Season,6,2023-11-03,20:30:00,FC Barcelona,Panathinaikos AKTOR Athens,80,72,"['RADOVIC, SRETEN', 'LATISEVS, OLEGS', 'BISSAN...",8,FC Barcelona,Local

### What are the inconsistencies that you are seeing? Write them down!:
- Minúsculas/Mayúsculas en los títulos.
- Diferentes idiomas.
- Diferente cantidad de columnas.
- Diferente orden de las columnas Plusminus, Winner, Ganador y diferentes significados.

<details>
    <summary> Expand the box to see the inconsistencies </summary>

- The columns are named in lowercase and the columns in Euroleague are capitalized
- There are some missing columns (f.e. Arbitros)
- Fecha is not split in Dia and Hora
- `Winner and Ganador Columns show different data` are not the same! Be extremely careful about it

</details>

As you can see there are a lot of different inconsistencies right? 
But before starting cleaning like crazy people, let's take a second to know what do we want to compare: 

- The CLUBS are impossible to compare, as different competitions defines different clubs
- Both rounds (Eurocup has less rounds) and Dates (Different Dates) are also not really useful
- We don't have information about Arbitros

## Conclusion

### We must take into consideration what data we DO have in both dataframes to compare it propperly and don't use time cleaning unnecessary things. 

In this particular case, we will need to compare:

`Competition`: The main column that define one from another. 

Create the Competition column in the EuroCup dataframe, being the fixed value "Eurocup"

In [21]:
ecteams["Competition"]="Eurocup"
ecteams.sample()

,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus,Competition
56,2023-12-19T21:00:00,12,Dreamland Gran Canaria,Dolomiti Energia Trento,76,98.0,Visitante,98.0,-22.0,Eurocup

`Ganador`: Being the actual values "Local" or "Visitante"

**BE CAREFUL**: Before changing the correct column to "Ganador" from the EC dataframe, there is a "Ganador" column with the incorrect information: STEP BY STEP!

In [22]:
#Drop the Column Ganador from the Eurocup Dataframe
if "Ganador" in ecteams.columns:
    ecteams.drop("Ganador",axis=1,inplace=True)
ecteams.sample() #Para comprobar que ya no extá la columna

,fecha,ronda,local,visitante,localscore,roadscore,Winner,plusminus,Competition
67,2023-12-12T19:00:00,11,Aris Midea Thessaloniki,7bet-Lietkabelis Panevezys,69,60.0,Local,9.0,Eurocup

In [23]:
#Rename the column with the actual information to "Ganador"
ecteams.rename(columns={"Winner":"Ganador"}, inplace=True)
ecteams.sample()

,fecha,ronda,local,visitante,localscore,roadscore,Ganador,plusminus,Competition
164,2023-10-04T20:30:00,1,London Lions,Umana Reyer Venice,76,69.0,Local,7.0,Eurocup

As seen in the first look at the dataframes, there was a problem with the columns: Are lower when they should be Capitalized, as in the Euroleague DataFrame. Change the column names to capitalize. 

is there a quick way to do it? 
Yes

In [24]:
ecteams.columns = ecteams.columns.str.capitalize()
ecteams.sample()

,Fecha,Ronda,Local,Visitante,Localscore,Roadscore,Ganador,Plusminus,Competition
41,2023-12-27T20:00:00,13,Dolomiti Energia Trento,7bet-Lietkabelis Panevezys,76,70.0,Local,6.0,Eurocup

Now it is time to just take the useful columns from each data! We will call the result subsets `comp_el` and `comp_ec`

REMEMBER: Use the same order of the columns for each dataset. 

Recommended order: Competition, Localscore, Roadscore, Plusminus, Ganador. **Nothing else is useful**

In [25]:
# Your code here: 
comp_ec=ecteams[["Competition", "Localscore", "Roadscore", "Plusminus", "Ganador"]]
comp_ec.sample()

  Competition  Localscore  Roadscore  Plusminus    Ganador
5     Eurocup          85       91.0       -6.0  Visitante

In [26]:
comp_el=elteams[["Competition", "Localscore", "Roadscore", "Plusminus", "Ganador"]]
comp_el.sample()

    Competition  Localscore  Roadscore  Plusminus Ganador
181  Euroleague          88         63         25   Local

Antes de concatenar, hagámosle una limpieza a comp_el. Duplicados y null values.

In [27]:
comp_el.isna().sum()

Competition    0
Localscore     0
Roadscore      0
Plusminus      0
Ganador        0
dtype: int64

In [28]:
comp_el = comp_el.drop_duplicates().copy() #Tuve que poner el .copy() porque daba error. Creo que por seguridad para que no modifique el original o algo así

Time to concatenate them both! Create a concat of both Dfs, called `competition`

In [29]:
competition = pd.concat([comp_ec, comp_el], ignore_index=True)
competition

    Competition  Localscore  Roadscore  Plusminus    Ganador
0       Eurocup         111      113.0       -2.0  Visitante
1       Eurocup          78       97.0      -19.0  Visitante
2       Eurocup          66       86.0      -20.0  Visitante
3       Eurocup          85       92.0       -7.0  Visitante
4       Eurocup          64       68.0       -4.0  Visitante
..          ...         ...        ...        ...        ...
368  Euroleague          92       82.0       10.0      Local
369  Euroleague          72       76.0       -4.0  Visitante
370  Euroleague          79       73.0        6.0      Local
371  Euroleague          88       84.0        4.0      Local
372  Euroleague          76       69.0        7.0      Local

[373 rows x 5 columns]

## Well done!

Now we have the combination of both competitions in the same dataframe. Is time for the questions you must answer:

1. How many matches have been in each competition?
2. What are the maximum points that a local team has scored per competition? And the road team as well. 
3. Do the same operations with the average points (per competition)
4. Can you tell me the maximum difference that has been in a match, splitted by competition? 
    - Careful: The Plusminus is both positive and negative, being negative that the Road Team has achieved the Victory. To have the absolute, create a new Column named Absolut_Plusminus. Remember: np.where is life!
5. Also grouped by competition, give me the number of victories of the Locals and the Visitors

In [30]:
# 1
cantidad_ec=len(comp_ec)
cantidad_el=len(comp_el)
print(f"Se jugaron {cantidad_ec} partidos en la Eurocup y {cantidad_el} en la Euroleague")

Se jugaron 170 partidos en la Eurocup y 203 en la Euroleague

In [43]:
#2
maximum_points=competition.groupby("Competition")[["Localscore","Roadscore"]].max()
maximum_points

             Localscore  Roadscore
Competition
Eurocup             120      114.0
Euroleague          130      126.0

In [50]:
#3
average_points=competition.groupby("Competition")[["Localscore","Roadscore"]].mean()
average_points

             Localscore  Roadscore
Competition
Eurocup       85.235294  83.958824
Euroleague    83.162562  79.389163

In [36]:
# 4
competition["Absolut_Plusminus"] = np.where(competition["Plusminus"]<0,-competition["Plusminus"],competition["Plusminus"])
print(competition.describe()) #Acá se puede ver que el min de Absolut Plusminus es >0

       Localscore   Roadscore   Plusminus  Absolut_Plusminus
count  373.000000  373.000000  373.000000         373.000000
mean    84.107239   81.471850    2.635389          10.957105
std     11.948333   11.663397   13.354393           8.057474
min     55.000000   52.000000  -39.000000           1.000000
25%     76.000000   73.000000   -6.000000           5.000000
50%     84.000000   81.000000    4.000000           9.000000
75%     91.000000   89.000000   11.000000          15.000000
max    130.000000  126.000000   39.000000          39.000000

In [37]:
diferencias=competition.groupby("Competition")["Absolut_Plusminus"].max()
diferencias

Competition
Eurocup       39.0
Euroleague    39.0
Name: Absolut_Plusminus, dtype: float64

In [38]:
5#
competition["Victorias Locales"] = np.where(competition["Ganador"] == "Local", 1, 0)
competition["Victorias Visitantes"] = np.where(competition["Ganador"] == "Visitante", 1, 0)
victorias=competition.groupby("Competition")[["Victorias Locales", "Victorias Visitantes"]].sum()
victorias

             Victorias Locales  Victorias Visitantes
Competition
Eurocup                     90                    80
Euroleague                 132                    71

In [39]:
competition.to_csv('competition_data.csv', index=False) #Para el LAB siguiente (visualization)